<div id="app" class="feedback-widget-wrapper">
  <a href="" v-on:click.prevent="widgetOpen" class="btn-widget-open" :class="[widgetIsExpanded ? 'is-hidden' : '', openBtnBouncing ? 'is-bouncing' : '']">
    <span class="icon-bubble"></span>
  </a>
  <div class="feedback-widget" :class="{ 'is-expanded': widgetIsExpanded }">
    <a href="" v-on:click.prevent="widgetClose" class="btn-widget-close" :class="{ 'is-showing': widgetIsExpanded }">
      <span class="icon-close"></span>
    </a>
    <div class="feedback-widget--inner" :class="{ 'is-showing': widgetIsExpanded }">

      <transition name="step-swap" mode="out-in">
        <div v-if="currentStep == 1" key="step">
          <h1>Well hello!</h1>
          <h2 class="feedback-widget--title">We would love your input on this page</h2>
          <p class="feedback-widget--intro">How would you rate it?</p>
          <ul class="star-rating" v-on:click="ratingClick">
            <li v-on:mouseover="starOver(1)">
              <span v-bind:class="[review.rating >= 1 ? 'icon-heart-full' : 'icon-heart']"></span>
            </li>
            <li v-on:mouseover="starOver(2)">
              <span v-bind:class="[review.rating >= 2 ? 'icon-heart-full' : 'icon-heart']"></span>
            </li>
            <li v-on:mouseover="starOver(3)">
              <span v-bind:class="[review.rating >= 3 ? 'icon-heart-full' : 'icon-heart']"></span>
            </li>
            <li v-on:mouseover="starOver(4)">
              <span v-bind:class="[review.rating >= 4 ? 'icon-heart-full' : 'icon-heart']"></span>
            </li>
            <li v-on:mouseover="starOver(5)">
              <span v-bind:class="[review.rating >= 5 ? 'icon-heart-full' : 'icon-heart']"></span>
            </li>
          </ul>
        </div>

        <div v-if="currentStep === 2">
          <h2 class="feedback-widget--title">Next, do you have some feedback / suggestions?</h2>
          <p class="feedback-widget--intro">This is optional, but highly appreciated</p>
          <form id="form" v-on:submit.prevent="feedbackComplete">
            <p class="input-with-icon input-message">
              <textarea
                class="input-field"
                cols="30"
                rows="3"
                v-model="review.feedback"
                placeholder="Your feedback"></textarea>
            </p>
            <button class="btn" type="submit">Next</button>
          </form>
        </div>

        <div v-if="currentStep === 3" key="step">
          <h2 class="feedback-widget--title">Tell us a bit about yourself</h2>
          <form id="form" v-on:submit.prevent="submitForm">
            <p class="input-with-icon input-name">
              <input
                class="input-field"
                type="text"
                v-model="review.name"
                v-bind:class="[!validation.name && formSubmitAttempted ? 'error' : 'is-valid']"
                placeholder="Name" />
            </p>
            <p class="input-with-icon input-email">
              <input
                class="input-field"
                type="email"
                v-model="review.email"
                v-bind:class="[!validation.email && formSubmitAttempted ? 'error' : 'is-valid']"
                placeholder="email@email.com">
            </p>
            <button class="btn" type="submit">Submit your review</button>
          </form>
        </div>

        <div v-if="currentStep === 4">
          <h2 class="feedback-widget--title">Thank you!</h2>
          <h3>We appreciate the time you took to leave us some feedback.</h3>
          <h4>See you around!</h4>
        </div>
      </transition>

    </div>
  </div>

  <div v-on:click.prevent="widgetClose" class="overlay":class="{ 'is-showing': widgetIsExpanded }"></div>
</div>
