<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Feedback Widget</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="dist/styles/main.css">

    <script src="dist/js/vendor/vue.js"></script>
    <script src="https://gstatic.com/firebasejs/3.5.2/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
  </head>
  <body>
    <div id="app">
      <p>{{ feedback }}</p>

      <div class="feedback-widget" :class="{ 'is-expanded': widgetIsExpanded }">
        <a href="" v-on:click.prevent="widgetOpen" class="btn-widget-open" :class="{ 'is-hidden': widgetIsExpanded }">
          <span class="icon-comment"></span>
        </a>
        <a href="" v-on:click.prevent="widgetClose" class="btn-widget-close" :class="{ 'is-showing': widgetIsExpanded }">
          <span class="icon-close"></span>
        </a>
        <div class="feedback-widget--inner" :class="{ 'is-showing': widgetIsExpanded }">

          <transition name="step-swap" mode="out-in">

            <div v-if="currentStep == 1" key="step" class="feedback-widget--step1">
              <h2>Rate this page</h2>
              <ul class="star-rating" v-on:click="ratingClick">
                <li v-on:mouseover="starOver(1)">
                  <span v-bind:class="[review.rating >= 1 ? 'icon-star' : 'icon-star-o']"></span>
                </li>
                <li v-on:mouseover="starOver(2)">
                  <span v-bind:class="[review.rating >= 2 ? 'icon-star' : 'icon-star-o']"></span>
                </li>
                <li v-on:mouseover="starOver(3)">
                  <span v-bind:class="[review.rating >= 3 ? 'icon-star' : 'icon-star-o']"></span>
                </li>
                <li v-on:mouseover="starOver(4)">
                  <span v-bind:class="[review.rating >= 4 ? 'icon-star' : 'icon-star-o']"></span>
                </li>
                <li v-on:mouseover="starOver(5)">
                  <span v-bind:class="[review.rating >= 5 ? 'icon-star' : 'icon-star-o']"></span>
                </li>
              </ul>
            </div>

            <div v-if="currentStep === 2" class="feedback-widget--step2">
              <form id="form" v-on:submit.prevent="submitForm">
                <p class="input-with-icon input-name">
                  <input class="input-field" type="text" v-model="review.name" placeholder="Name" />
                </p>
                <p class="input-with-icon input-email">
                  <input class="input-field" type="email" v-model="review.email" placeholder="email@email.com">
                </p>
                <p class="input-with-icon input-message">
                  <textarea class="input-field" cols="30" rows="3" v-model="review.feedback"></textarea>
                </p>
                <input type="submit" value="Submit your review">
              </form>
            </div>
          </transition>




        </div>
      </div>

      <div class="overlay":class="{ 'is-showing': widgetIsExpanded }"></div>
    </div>

    <script src="dist/js/main.js"></script>
  </body>
</html>
