// Colors
// --------------------------
$white:                     #fff;
$black:                     #000;
$red:                       #d9534f;
$orange:                    #f0ad4e;
$yellow:                    #ffd500;
$green:                     #5cb85c;
$blue:                      #0275d8;
$teal:                      #5bc0de;
$pink:                      #ff5b77;
$purple:                    #613d7c;

$gray-90:                   lighten($black, 10%);
$gray-80:                   lighten($black, 20%);
$gray-70:                   lighten($black, 30%);
$gray-60:                   lighten($black, 40%);
$gray-50:                   lighten($black, 50%);
$gray-40:                   lighten($black, 60%);
$gray-30:                   lighten($black, 70%);
$gray-20:                   lighten($black, 80%);
$gray-10:                   lighten($black, 90%);

$brand-primary:             $blue;
$brand-success:             $green;
$brand-info:                $teal;
$brand-warning:             $orange;
$brand-danger:              $red;
$brand-inverse:             $gray-80;


// Options
// ----------------------------
$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;


// Body
// ----------------------------
$body-bg:                   #f7f7f7;
$body-color:                $gray-50;

// Z-indexes
// ----------------------------
$zindex-overlay:            100000;
$zindex-widget:             100010;

// Links
// ----------------------------
$link-color:                $brand-primary;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;

$text-muted:                $gray-30;

// Fonts
// -------------------------
$font-family-sans-serif:        Arial, sans-serif;
$font-family-serif:             "Merriweather", "Times New Roman", Times, serif;

$font-family-monospace:         "Courier New", Menlo, Monaco, Consolas, monospace;
$font-family-base:              $font-family-serif;


// Forms
// -------------------------
$cursor-disabled:                not-allowed;


// Typography
// -------------------------
$text-color:              $gray-50;
$font-size-base:          12px;
$font-size-medium:        16px;
$font-size-large:         19px;
$font-size-small:         10px;

$headings-font-family:    $font-family-serif;
$headings-font-weight:    400;
$headings-line-height:    1.3;
$headings-color:          inherit;

$font-size-h1:            55px;
$font-size-h2:            44px;
$font-size-h3:            32px;
$font-size-h4:            28px;
$font-size-h5:            20px;
$font-size-h6:            14px;

$font-weight-thin:           300;
$font-weight-regular:        400;
$font-weight-bold:           700;

$font-weight-base:          $font-weight-thin;

$dt-font-weight:            $font-weight-bold;

$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;

$btn-font-weight:           300;
$line-height-base:          1.5;
$line-height-computed:      floor(($font-size-base * $line-height-base)); // ~20px


// Tables
// -------------------------
$table-cell-padding:            .75rem;
$table-sm-cell-padding:         .3rem;

$table-bg:                      transparent;

$table-inverse-bg:              $gray-60;
$table-inverse-color:           $body-bg;

$table-bg-accent:               rgba($black,.05);
$table-bg-hover:                rgba($black,.075);
$table-bg-active:               $table-bg-hover;

$table-head-bg:                 $gray-20;
$table-head-color:              $gray-50;

$table-border-width:            1;
$table-border-color:            $gray-20;
