.btn-widget-open,
.btn-widget-close {
  background: $pink;
  border-radius: 50px;
  bottom: 0;
  color: $white;
  display: block;
  font-size: 23px;
  height: 50px;
  line-height: 2.5;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  transition: transform .3s;
  transition-timing-function: cubic-bezier(.06, .71, .16, 1.95);
  width: 50px;
  z-index: $zindex-buttons;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    transform: scale(1.1);
  }
}

.btn-widget-open {
  bottom: 10px;
  right: 10px;
  transition: opacity .2s .4s, transform .3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.btn-widget-close {
  background: transparent;
  opacity: 0;
  visibility: hidden;

  &.is-showing {
    opacity: 1;
    visibility: visible;
  }
}
