.btn-widget-open,
.btn-widget-close {
  color: $white;
  display: block;
  font-size: 23px;
  height: 50px;
  line-height: 2.4;
  text-align: center;
  width: 50px;
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: $zindex-buttons;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.btn-widget-open {
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.btn-widget-close {
  opacity: 0;
  visibility: hidden;

  &.is-showing {
    opacity: 1;
    visibility: visible;
  }
}
