.feedback-widget-wrapper {
  .star-rating {
    border: 1px solid rgba($white, .5);
    border-radius: 3px;
    display: inline-block;
    margin: 0;
    padding: 17px 22px 8px;

    > li {
      color: $white;
      cursor: pointer;
      display: inline-block;
      font-size: 29px;
      list-style: none;

      + li {
        margin-left: 5px;
      }
    }
  }
}
