//Transitions
.step-swap-enter-active {
  transition: all .4s ease;
}
.step-swap-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.step-swap-enter, .step-swap-leave-to {
  transform: translateX(15px);
  opacity: 0;
}

.feedback-widget {
  background: $purple;
  background: linear-gradient(45deg, $purple 0%, $pink 90%);
  border-radius: 50px;
  bottom: 10px;
  box-shadow: 0 4px 30px rgba($black, .2);
  height: 50px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  text-align: center;
  transition: all .4s;
  transition-timing-function: cubic-bezier(.71, .1, .49, .99);
  width: 50px;
  z-index: $zindex-widget;

  &:hover {
    box-shadow: 0 4px 30px rgba($black, .4);
  }

  &.is-expanded {
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba($black, .2);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    transition: all .4s;
    transition-timing-function: cubic-bezier(.11, .8, .36, 1);

    @include media-breakpoint-up(sm) {
      height: 450px;
      width: 370px;
    }
  }
}

.feedback-widget--title {
  margin: 11px 0 28px;
}

.feedback-widget--intro {
  font-size: 17px;
}

.feedback-widget--inner {
  visibility: hidden;
  opacity: 0;
  transition: all 0s 0s;
  padding: 26px;
  overflow: scroll;
  height: calc(100% - 45px);

  @include media-breakpoint-up(sm) {
    height: auto;
    overflow: visible;
  }

  &.is-showing {
    opacity: 1;
    visibility: visible;
    transition: all .2s .3s;
  }
}
