//Transitions
.step-swap-enter-active {
  transition: all 2.9s ease;
}
.step-swap-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.step-swap-enter, .step-swap-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.feedback-widget {
  background: $brand-secondary;
  bottom: 10px;
  position: absolute;
  right: 10px;
  transition: all .2s;
  z-index: $zindex-widget;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  box-shadow: 0 4px 30px rgba($black, .2);
  text-align: center;

  &:hover {
    box-shadow: 0 4px 30px rgba($black, .4);
  }

  &.is-expanded {
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba($black, .2);
    height: 450px;
    width: calc(100% - 20px);

    @include media-breakpoint-up(sm) {
      height: 450px;
      width: 370px;
    }
  }
}

.feedback-widget--inner {
  visibility: hidden;
  opacity: 0;
  transition: all 0s 0s;
  padding: 26px;

  &.is-showing {
    opacity: 1;
    visibility: visible;
    transition: all .2s .3s;
  }
}

.feedback-widget--step1,
.feedback-widget--step2 {
  //visibility: hidden;
  //opacity: 0;
  transition: .2s;

  &.is-showing {
    visibility: visible;
    opacity: 1;
  }
}
