//Transitions
.step-swap-enter-active {
  transition: all .6s cubic-bezier(0, .5, .5, 1);
}

.step-swap-leave-active {
  transition: all .3s cubic-bezier(.5, 0, 1, .7);
}

.step-swap-enter,
.step-swap-leave-to {
  opacity: 0;
  transform: translateY(15px);
}

.feedback-widget {
  background: $purple;
  background: linear-gradient(45deg, $purple 0%, $pink 90%);
  border-radius: 50px;
  bottom: 10px;
  box-shadow: 0 4px 30px rgba($black, .2);
  height: 50px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  text-align: center;
  transition: all .3s;
  transition-timing-function: cubic-bezier(.71, .1, .49, .99);
  width: 50px;
  z-index: $zindex-widget;

  &:hover {
    box-shadow: 0 4px 30px rgba($black, .4);
  }

  &.is-expanded {
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba($black, .2);
    height: calc(100% - 20px);
    transition: all .4s;
    transition-timing-function: cubic-bezier(.11, .8, .36, 1);
    width: calc(100% - 20px);

    @include media-breakpoint-up(sm) {
      height: 450px;
      width: 370px;
    }
  }
}

.feedback-widget--title {
  margin: 11px 0 28px;
}

.feedback-widget--intro {
  font-size: 17px;
  margin-bottom: 35px;
}

.feedback-widget--inner {
  height: calc(100% - 45px);
  opacity: 0;
  overflow: scroll;
  padding: 26px;
  transition: all 0s 0s;
  visibility: hidden;

  @include media-breakpoint-up(sm) {
    height: auto;
    overflow: visible;
  }

  &.is-showing {
    opacity: 1;
    transition: all .2s .3s;
    visibility: visible;
  }
}
